@page "/Cart"
@using StoreApp.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,StoreApp
@model CartModel
<div>
    <div class="text-center display-6">Cart</div>
    <table table="">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach(var line in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
        {
            <tr>
                <td>@line.Product.ProductId</td>
                <td>@line.Quantity</td>
                <td>@line.Product.Price.ToString("c")</td>
                <td>@((line.Quantity * line.Product.Price).ToString("c2"))</td>
                <td>
                    <div class="btn-group">
                            <form method="post" asp-page-handler="Decrease">
                                <input type="hidden" name="productId" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <button type="submit" class="btn btn-sm btn-outline-secondary">
                                <i class="fa fa-minus"></i>
                            </button>
                        </form>
                        <form method="post" asp-page-handler="Remove">
                                <input type="hidden" name="productId" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                        <form method="post" asp-page-handler="Increase">
                            <input type="hidden" name="productId" value="@line.Product.ProductId"/>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">
                                <i class="fa fa-plus"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right text-danger">@Model.Cart?.ComputeTotalValue().ToString("c2")</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <div class="text-center my-3">
        <div class="btn-group">
            <a class="btn btn-outline-primary" href="@Model?.ReturnUrl">Continue Shopping</a>
            <a class="btn btn-outline-success" asp-action="Checkout" asp-controller="Order">Checkout</a>
        </div>
    </div>
</div>