<div class="my-3">
    <h6 class="lead">
        <i class="fa-solid fa-filter text-secondary"></i>
        Filters
    </h6>
</div>
<div class="my-2">
    <form method="get" asp-controller="Product" asp-action="Index">
        <input type="hidden" name="categoryId" value="@(Context.Request.Query["categoryId"])"/>
        <div class="form-group my-2">
            <label class="form-label">Search</label>
            <input class="form-control" name="SearchTerm" placeholder="Search" value="@(Context.Request.Query["SearchTerm"])" />
        </div>
        <div class="form-group my-2">
            <label class="form-label">Price</label>
            <div class="input-group">
                <input type="number" id="minPriceInput" pattern="[0-9]*" class="form-control" name="MinPrice" placeholder="Min. Price" value="@(Context.Request.Query["MinPrice"])" />
                <span class="input-group-text">-</span>
                <input type="number" id="maxPriceInput" class="form-control" name="MaxPrice" placeholder="Max. Price" value="@(Context.Request.Query["MaxPrice"])" />
            </div>
        </div>
        <div class="form-group my-2">
            <label class="form-label">Sort By</label>
            <select class="form-select" name="SortBy">
                <option value="PriceAsc" selected="@(Context.Request.Query["SortBy"]=="PriceAsc")">Price Ascending</option>
                <option value="PriceDesc" selected="@(Context.Request.Query["SortBy"]=="PriceDesc")">Price Descending</option>
                <option value="NameAsc" selected="@(Context.Request.Query["SortBy"]=="NameAsc")">Name Ascending</option>
                <option value="NameDesc" selected="@(Context.Request.Query["SortBy"]=="NameDesc")">Name Descending</option>
            </select>
        </div>
        <div class="form-group m-2 d-flex justify-content-between">
            <a asp-controller="Product" asp-action="Index" type="button" class="btn btn-sm btn-secondary">Clear</a>
            <button type="submit" class="btn btn-sm btn-secondary">Filter</button>
        </div>
    </form>
</div>